<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">type</th>
      <td>{% data_list["type"] %}</td>
    </tr>
    <tr>
      <th scope="row">url</th>
      <td>
        {% data_list["url"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">author_name</th>
      <td>{%= data_list["author_name"] %}</td>
    </tr>
    <tr>
      <th scope="row">author_url</th>
      <td>
        {% data_list["author_url"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">html</th>
      <td>
        {% data_list["html"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">width</th>
      <td>{% data_list["width"] %}</td>
    </tr>
    <tr>
      <th scope="row">height</th>
      <td>{% data_list["height"] %}</td>
    </tr>
    <tr>
      <th scope="row">cache_age</th>
      <td>{% data_list['cache_age'] %}</td>
    </tr>
    <tr>
      <th scope="row">provider_name</th>
      <td>{% data_list['provider_name'] %}</td>
    </tr>
    <tr>
      <th scope="row">provider_url</th>
      <td>
        {% data_list['provider_url'] %}
      </td>
    </tr>
    <tr>
      <th scope="row">version</th>
      <td>{% data_list['version'] %}</td>
    </tr>
  </tbody>
</table>