<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">title</th>
      <td>{% data_list["title"] %}</td>
    </tr>
    <tr>
      <th scope="row">type</th>
      <td>{% data_list["type"] %}</td>
    </tr>
    <tr>
      <th scope="row">version</th>
      <td>
        {% data_list["version"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">provider_name</th>
      <td>
        {% data_list["provider_name"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">provider_url</th>
      <td>
        {% provider_url %}
      </td>
    </tr>
    <tr>
      <th scope="row">author_name</th>
      <td>
        {% data_list["author_name"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">author_url</th>
      <td>
        {% data_list["author_url"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">is_plus</th>
      <td>
        {% data_list["is_plus"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">html (640/480)</th>
      <td>
        {% data_list["html"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">width</th>
      <td>
        {% data_list["width"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">height</th>
      <td>
        {% data_list["height"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">duration</th>
      <td>
        {% data_list["duration"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">description</th>
      <td>
        {% data_list["description"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">thumbnail_url (640x480)</th>
      <td>
        {% data_list["thumbnail_url"] %}
        <div>
          <img src="{% data_list["thumbnail_url"] %}" alt="thumbnail_url">
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">thumbnail_width</th>
      <td>
        {% data_list["thumbnail_width"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">thumbnail_height</th>
      <td>
        {% data_list["thumbnail_height"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">thumbnail_url_with_play_button</th>
      <td>
        {% data_list["thumbnail_url_with_play_button"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">upload_date</th>
      <td>
        {% data_list["upload_date"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">video_id</th>
      <td>
        {% data_list["video_id"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">video_id</th>
      <td>
        {% data_list["video_id"] %}
      </td>
    </tr>
    <tr>
      <th scope="row">uri</th>
      <td>
        {% data_list["uri"] %}
      </td>
    </tr>
  </tbody>
</table>